<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="/tmp/proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"
                   clientId="YOUR_CLIENT_ID"
                   oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/token"
                   clientSecret="YOUR_CLIENT_SECRET"/>

        <serverUrl url="http://route.arcgis.com"
                   matchAll="true"
                   clientId="YOUR_CLIENT_ID"
                   oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/token"
                   clientSecret="YOUR_CLIENT_SECRET"/>


        <serverUrl url="http://traffic.arcgis.com"
                   matchAll="true"
                   clientId="YOUR_CLIENT_ID"
                   oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/token"
                   clientSecret="YOUR_CLIENT_SECRET"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->

